/* linux mint theme */
/* by u/kmyc9*/
@-moz-document url-prefix("https://discord.com/channels/") {
    :root, theme.dark, .visual-refresh{
        /* linux mint color palette */
        --linux-bg-light     : #404040 !important;
        --linux-bg-middle    : #383838 !important;
        --linux-bg-middler   : #353535 !important;
        --linux-bg-dark      : #2B2B2B !important;
        --linux-bg-darkest   : #292929 !important;

        --mint-green-light   : #8BB158 !important;
        --mint-green-dark    : #35A854 !important;
        --mint-green-darkest : #688442 !important;

        /* overrides for brand colors */
        --button-filled-brand-background: var(--mint-green-dark) !important;
        --background-surface-higher     : var(--mint-green-dark) !important; /* top left discord icon important*/ 
        --text-brand                    : var(--mint-green-dark) !important;
        --text-link                     : var(--mint-green-dark) !important;
        --bg-brand                      : var(--mint-green-dark) !important;
        --brand-360                     : var(--mint-green-dark) !important;
    }

    body {
        --bg-base-tertiary       : var(--linux-bg-dark) !important; /* server bar */

        --background-base-lowest : var(--linux-bg-middle) !important; /* server text chat area*/
        --background-base-low    : var(--linux-bg-middler) !important; /* bottom left profile box*/ 

        --background-base-lower  : var(--linux-bg-light) !important; /* main chat area*/
        --chat-background-default: var(--linux-bg-middler) !important; /* chatbox bottom of screen*/


       /* when typing / commands */ 
        --background-surface-high: var(--bg-base-tertiary) !important;
        --autocomplete-bg     : var(--background-base-lowest) !important;

        /* go to the friends tab to see these in effect*/
        --background-tertiary : var(--linux-bg-middle)!important; /* blocked and ignored*/
        --background-secondary: var(--linux-bg-middle)!important; /* random buttons */
        --background-primary  : var(--linux-bg-dark) !important;
    }
    /* targets specifically the discord icon on top of screen*/
    svg[width="16"][height="16"] > path[fill="var(--interactive-normal)"] {
        fill: var(--mint-green-light) !important;
    }

    .visual-refresh .container__9293f {
        background               : #2B2B2B !important;
        --__header-bar-background: #2B2B2B !important;
    }
    /* profile card*/
    :where(.outer_c0bea0) {
        background                  : #383838 !important; 
        --profile-body-divider-color: #383838 !important;
    }
    /* these two are apart of the gif selector*/
    .contentWrapper__08434{
    background : var(--linux-bg-dark) !important;
    }
    .header__8ef02 {
        background: var(--linux-bg-middle) !important;
    }
    .container_a4028 {
        /* this should be the border of the input that is showing discord color but idk*/
        border    : blue !important;
        background: green !important;
            /*--input-background: */
    }
    .visual-refresh .inspector_aeaaeb {
        background: var(--linux-bg-light) !important ;
        background-color: var(--background-base-lower);
        border-top: 1px solid var(--border-normal);
    }
    .wrapper__14245{
        background : var(--linux-bg-light) !important;
    }
    .upsell_ac65bb {
        background-color: var(--linux-bg-light) !important;
    }
    .wrapper__4e6ce {
        background : var(--linux-bg-dark) !important;
    }
    /* settings*/
    .container__87bf1, checked__87bf1, slider__87bf1 {
        background-color: var(--mint-green-light) !important;
    }

    /* message content*/
    .gridContainer__623de, grid__623de{
        background : var(--linux-bg-middle) !important;
    }

    .barBase__0f481, newMessagesBar__0f481{
        background : var(--mint-green-dark) !important;
    }
    /* Inbox*/
    .messagesPopoutWrap__45690 {
        background : var(--linux-bg-dark) !important;
    }
    .messagePopout__45690, scroller__95796, thin_d125d2, scrollerBase_d125d2{
        background: var(--linux-bg-middle) !important;
    }
    .messageContainer_95796{
        background : var(--linux-bg-light) !important;
    }

}