/* linux mint theme */
/* by u/kmyc9*/
@-moz-document url-prefix("https://discord.com/channels/") {
    :root, theme.dark, .visual-refresh{
        /* linux mint color palette */
        --linux-bg-light     : #404040 !important;
        --linux-bg-middle    : #383838 !important;
        --linux-bg-middler   : #353535 !important;
        --linux-bg-dark      : #2B2B2B !important;
        --linux-bg-darkest   : #292929 !important;

        --mint-green-light   : #8BB158 !important;
        --mint-green-dark    : #35A854 !important;
        --mint-green-darkest : #688442 !important;

        /* overrides for brand colors */
        --button-filled-brand-background: var(--mint-green-dark) !important;
        --background-surface-higher     : var(--mint-green-dark) !important; /* top left discord icon important*/ 
        --text-brand                    : var(--mint-green-dark) !important;
        --text-link                     : var(--mint-green-dark) !important;
        --bg-brand                      : var(--mint-green-dark) !important;
    }

    body {
        --bg-base-tertiary       : var(--linux-bg-dark) !important; /* server bar */

        --background-base-lowest : var(--linux-bg-middle) !important; /* server text chat area*/
        --background-base-low    : var(--linux-bg-middler) !important; /* bottom left profile box*/ 

        --background-base-lower  : var(--linux-bg-light) !important; /* main chat area*/
        --chat-background-default: var(--linux-bg-middler) !important; /* chatbox bottom of screen*/


       /* when typing / commands */ 
        --background-surface-high: var(--bg-base-tertiary) !important;
        --autocomplete-bg     : var(--background-base-lowest) !important;

        /* go to the friends tab to see these in effect*/
        --background-tertiary : var(--linux-bg-middle)!important; /* blocked and ignored*/
        --background-secondary: var(--linux-bg-middle)!important; /* random buttons */
        --background-primary  : var(--linux-bg-dark) !important;
    }
    /* targets specifically the discord icon on top of screen*/
    svg[width="16"][height="16"] > path[fill="var(--interactive-normal)"] {
        fill: var(--mint-green-light) !important;
    }

    .visual-refresh .container__9293f {
        background               : #2B2B2B !important;
        --__header-bar-background: #2B2B2B !important;
    }
    /* profile card*/
    :where(.outer_c0bea0) {
        background                  : #383838 !important; 
        --profile-body-divider-color: #383838 !important;
    }
}